a#branding {
  text-transform: uppercase;
  font-family: 'Surveyor SSm A', 'Surveyor SSm B';
  font-size: 2rem;
  font-weight:100;
  }

.menu {
  font-family: 'Industry';
  }

.post-card .post-meta {
   font-family: 'Industry';
}

body,html {
  font-family: 'Surveyor SSm A', 'Surveyor SSm B';
}

h1, h2, h3, h4, h5, h6, header, time {
  font-family: 'Glober';
}

h2.post-title {
  font-family: 'Glober';
}

a.button {
  font-family: 'Glober';
}

.intro-text {
  font-family: inherit;
}

.site-header {
background: #fff;
border-top: 0px solid #3cb464;
border-bottom: 2px solid #333;
padding-bottom: 1.33333em;
padding-top: 1.33333em;
}

@font-face {
  font-family: 'Glober';
  src: url("../assets/fonts/glober/Glober_Bold_Free-webfont.eot");
  src: url("../assets/fonts/glober/Glober_Bold_Free-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober/Glober_Bold_Free-webfont.woff") format("woff"), url("../fonts/glober/Glober_Bold_Free-webfont.ttf") format("truetype"), url("../fonts/glober/Glober_Bold_Free-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Icons';
  src: url("../assets/fonts/icons.eot");
  src: url("../assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.svg#icons") format('svg'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
/*  note -- that import is required for industry */
@font-face {
  font-family: 'Industry';
  src: url('../assets/fonts/industry/2CD654_0_0.eot');
  src: url('../assets/fonts/industry/2CD654_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/industry/2CD654_0_0.woff2') format('woff2'), url('../fonts/industry/2CD654_0_0.woff') format('woff'), url('../fonts/industry/2CD654_0_0.ttf') format('truetype');
}
