/* department colors */


$commons: #e54f19;
$anuenue: #2f7ee4;
$originals: #129274;
$industry: #db0074;
$letters: #7057c1;

.commons {color:$commons;}
.anuenue {color:$anuenue;}
.originals {color:$originals;}
.industry {color:$industry;}
.letters {color:$letters;}


a.commons {color:$commons;}
a.anuenue {color:$anuenue;}
a.originals {color:$originals;}
a.industry {color:$industry;}
a.letters {color:$letters;}

main#commons p a {color:$commons;border-bottom: 1px solid $commons;}
main#anuenue p a {color:$anuenue;border-bottom: 1px solid $anuenue;}
main#originals p a {color:$originals;border-bottom: 1px solid $originals;}
main#industry p a {color: $industry;border-bottom: 1px solid $industry;}
main#letters p a {color: $letters;border-bottom: 1px solid $letters;}

main#commons .post-content h2 {background:$commons;color: white;}
main#anuenue .post-content h2 {background:$anuenue;color: white;}
main#originals .post-content h2 {background:$originals;color: white;}
main#industry .post-content h2 {background: $industry;color: white;}
main#letters .post-content h2 {background: $letters;color: white;}


/*--------*/


img + div {font-family: 'Glober';}


a#branding {
  text-transform: uppercase;
  font-family: 'Surveyor SSm A', 'Surveyor SSm B';
  font-size: 2rem;
  font-weight:100;
  }

.post-caption {
	font-family: 'Glober';
	display: block;
	width: auto;
	margin: -100px, 0px 0px 100px;
	background: rgba(30, 30, 30, 0);
	color: black;
	padding: 20px;
	font-size: small;
	text-align: right;
	border-bottom: 1px black solid;
	opacity: .5;
}

.post-content img {
	display: block;
left: 50%;
margin-left: -50vw;
margin-right: -50vw;
max-width: 100vw;
position: relative;
right: 50%;
width: 100vw;
/* kudos to https://gomakethings.com/how-to-break-an-image-out-of-its-parent-container-with-css/ */
}

.menu {
  font-family: 'Industry';
  }

.post-card .post-meta {
   font-family: 'Industry';
}

body,html {
  font-family: 'Surveyor SSm A', 'Surveyor SSm B';
  color: black;
}

h1, h2, h3, h4, h5, h6, header, time, blockquote,p.author {
  font-family: 'Glober';
  font-size: smaller;
  color: black;
  font-weight: lighter;
}

.post-content {border-top:2px black solid;padding-top: 40px;}

.post-content h2 {
	background: #ffe102;
	display: block;
	padding: 20px 0px 20px 2000px;
	margin-bottom: 30px;
	margin-left: -2000px;
// 	border-radius: 20px;
	color: black;
	font-size: larger;
}

aside {}


.post-title {text-transform: uppercase;}

h2.post-title {
  font-family: 'Glober';
}

a.button {
  font-family: 'Glober';
}

a {border-bottom: 2px solid black;}

.intro-text {
  font-family: inherit;
}

.site-header {
background: #fff;
border-top: 0px solid #3cb464;
border-bottom: 1px solid black;
padding-bottom: 1.33333em;
padding-top: 1.33333em;
}

@font-face {
  font-family: 'Glober';
  src: url("../assets/fonts/glober/Glober_Bold_Free-webfont.eot");
  src: url("../assets/fonts/glober/Glober_Bold_Free-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/glober/Glober_Bold_Free-webfont.woff") format("woff"), url("../fonts/glober/Glober_Bold_Free-webfont.ttf") format("truetype"), url("../fonts/glober/Glober_Bold_Free-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Icons';
  src: url("../assets/fonts/icons.eot");
  src: url("../assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.svg#icons") format('svg'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
/*  note -- that import is required for industry */
@font-face {
  font-family: 'Industry';
  src: url('../assets/fonts/industry/2CD654_0_0.eot');
  src: url('../assets/fonts/industry/2CD654_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/industry/2CD654_0_0.woff2') format('woff2'), url('../fonts/industry/2CD654_0_0.woff') format('woff'), url('../fonts/industry/2CD654_0_0.ttf') format('truetype');
}
